.popup__input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  width: 84%;
  box-sizing: border-box;
  padding: 15px 0 10px 0px;
  margin: 5px 25px 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
