.header {
  display: flex;
  justify-content: start;
  margin: 45px 0 0;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

@media screen and (max-width: 950px) {
  .header {
    margin: 29px -20px 0 -20px;
    padding-bottom: 30px;
  }
}