.elements {
  display: grid;
  margin: 48px 0 0 0;
  grid-row-gap: 17px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1245px) {
  .elements {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  .elements {
    grid-template-columns: 1fr;
    margin: 36px 0 0 0;
    grid-row-gap: 20px;
  }
}