.elements__like {
  margin: 30px 20px 0 0;
  border: none;
  max-width: 21px;
  max-height: 19px;
  width: 100%;
  background: url("../../../images/elements-like.png");
  background-size: 21px, 19px;
  background-repeat: no-repeat;
}

.elements__like:hover {
  cursor: pointer;
  opacity: 0.5;
}