.add__button {
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 25px 0px 15px 38px;
  padding: 10px 130px 10px 130px;
  background-size: cover;
  border: 0px;

}

.add__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 950px) {
  .add__button {
    padding: 13px 80px 12px 80px;
    margin: 35px 0 15px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}