.profile__button {
  margin: 38px 0 0 236px;
  max-width: 150px;
  max-height: 50px;
  background: url("../../../images/vector.png");
  width: 100%;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  padding-top: 48px;
  border: 2px solid #FFFFFF;
  background-position: 62px, 4px;
}

.profile__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1245px) {
  .profile__button {
    margin: 75px 0 0 -102px;
    padding-right: 140px;
  }
}

@media screen and (max-width: 950px) {
  .profile__button {
    margin: 65px 0 0 0;
    background-size: 16px, 16px;
    padding: 47px 278px 0 0;
    background-position: 133px, 15px;

  }
}

